# Игнорировать все файлы с расширением .iml
*.iml

# Игнорировать папку с настройками проекта IntelliJ IDEA
/.idea/

# Игнорировать лог-файлы
*.log

# Игнорировать папку с зависимостями
/node_modules/